<div class="holder page press-page">

{{ page.content }}

<h2>Contact</h2>
<p class="press-contact">For press inquiries, please contact natalie@gprojectgear.com - (818) 851-0416</p>

<ul id="press-materials">

	<h2>Media Assets</h2>

	<li>
		<ul class="press-releases">
			<p>Press Releases</p>
			<li><a href="http://media.gprojectgear.com/press/releases/G-BUZZ_press_release.pdf">09 July 2014: G-Project Launches G-BUZZ, A Portable, Rugged Alarm Clock. Now Available at Wal-Mart and Amazon.</a></li>
			<li><a href="http://media.gprojectgear.com/press/releases/G-ZIP_G-POP_media_alert.pdf">23 October 2013: G-Project Launches new colors of its Fun-Sized Travel Speakers G-ZIP and G-POP</a></li>
			<li><a href="http://media.gprojectgear.com/press/releases/G-ZIP_G-POP_press_release.pdf">16 May 2013: G-Project Introduces Fun-Sized Travel Speakers G-ZIP and G-POP</a></li>
			<li><a href="http://media.gprojectgear.com/press/releases/G-BOOM_press_release.pdf">23 March 2013: G-Project unleashes G-BOOM, the Ultimate Bluetooth Boombox, now available at Target</a></li>
			<li><a href="http://media.gprojectgear.com/press/releases/G-GRIP_press_release.pdf">25 October 2012: G-GRIP delivers powerful sound in a crushproof, compact, portable bluetooth speaker, now available at Target</a></li>
			<li><a href="http://media.gprojectgear.com/press/releases/G-GO_press_release.pdf">19 March 2012: G-GO, The first Water Resistent, Bluetooth Enabled Speaker, now available at Target</a></li>
		</ul>
	</li>

	<li>
		<ul class="press-images">
			<p>Press Images</p>
			<li><a href="http://media.gprojectgear.com/lifestyle.zip">Lifestyle Images v1.0</a></li>
		</ul>
	</li>

	<li>
		<ul>	
			<img src="{{ 'press-materials-ggo.png' | asset_url }}">
			<p>G-GO</p>
			<li><a href="http://media.gprojectgear.com/press/product_sheets/G-Project_G-GO_product_sheet.pdf">Product Sheet</a></li>
			<li><a href="http://media.gprojectgear.com/press/photos/g-go-hi.zip">High Res Images (Print)</a></li>
			<li><a href="http://media.gprojectgear.com/press/photos/g-go-lo.zip">Images (Web)</a></li>
		</ul>
	</li>

	<li>
		<ul>
			<img src="{{ 'press-materials-gboom.png' | asset_url }}">
			<p>G-BOOM</p>
			<li><a href="http://media.gprojectgear.com/press/product_sheets/G-Project_G-BOOM_product_sheet.pdf">Product Sheet</a></li>
			<li><a href="http://media.gprojectgear.com/press/photos/g-boom-hi.zip">High Res Images (Print)</a></li>
			<li><a href="http://media.gprojectgear.com/press/photos/g-boom-lo.zip">Images (Web)</a></li>
		</ul>
	</li>

	<li>
		<ul>
			<img src="{{ 'press-materials-ggrip.png' | asset_url }}">
			<p>G-GRIP</p>
			<li><a href="http://media.gprojectgear.com/press/product_sheets/G-Project_G-GRIP_product_sheet.pdf">Product Sheet</a></li>
			<li><a href="http://media.gprojectgear.com/press/photos/g-grip-hi.zip">High Res Images (Print)</a></li>
			<li><a href="http://media.gprojectgear.com/press/photos/g-grip-lo.zip">Images (Web)</a></li>
		</ul>
	</li>

	<li>
		<ul>
			<img src="{{ 'press-materials-gzip.png' | asset_url }}">
			<p>G-ZIP</p>
			<li><a href="http://media.gprojectgear.com/press/product_sheets/G-Project_G-ZIP_product_sheet.pdf">Product Sheet</a></li>
			<li><a href="http://media.gprojectgear.com/press/photos/g-zip-hi.zip">High Res Images (Print)</a></li>
			<li><a href="http://media.gprojectgear.com/press/photos/g-zip-lo.zip">Images (Web)</a></li>
		</ul>
	</li>

	<li>
		<ul>
			<img src="{{ 'press-materials-gpop.png' | asset_url }}">
			<p>G-POP</p>
			<li><a href="http://media.gprojectgear.com/press/product_sheets/G-Project_G-ZIP_product_sheet.pdf">Product Sheet</a></li>
			<li><a href="http://media.gprojectgear.com/press/photos/g-pop-hi.zip">High Res Images (Print)</a></li>
			<li><a href="http://media.gprojectgear.com/press/photos/g-pop-lo.zip">Images (Web)</a></li>
		</ul>
	</li>

	<li>
		<ul>
			<img src="{{ 'press-materials-gbuzz.png' | asset_url }}">
			<p>G-BUZZ</p>
			<li><a href="http://media.gprojectgear.com/press/product_sheets/G-Project_G-BUZZ_product_sheet.pdf">Product Sheet</a></li>
			{% comment %}<li><a href="http://media.gprojectgear.com/press/photos/g-buzz-hi.zip">High Res Images (Print)</a></li>{% endcomment %}
			<li><a href="http://media.gprojectgear.com/press/photos/g-buzz-lo.zip">Images (Web)</a></li>
		</ul>
	</li>

	<li style="display: none;">
		<ul class="branding">	
			<p>Branding</p>
			<li><a href="#">Logos &amp; Style Guide</a></li>
		</ul>
	</li>

</ul>

  
</div><!-- #page-container -->
