<!DOCTYPE HTML>
<html>
    <head>
        <title>{% if template contains 'product' %}G-Project - {{ product.title }} {%else%} G-Project {%endif%}</title>
        <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
        {{ content_for_header }}
        {{ 'style.css' | asset_url | stylesheet_tag }}
    </head>
    <body>

        {% include 'menu' %}

        {{ content_for_layout }}



    {{ 'script.js' | asset_url | script_tag }}
    <!-- {{ 'script-no-grunt.js' | asset_url | script_tag }} -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6966432/750366/css/fonts.css" /> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    </body>
</html>
