<div id="masthead">

    <ul id="banners">
  
        <li style="background: url({{'gboom-main-slide.jpg' | asset_url }}) center no-repeat; background-size: cover;">

            <div class="holder">

                <div id="banner-info">
                    <h1><img src="{{'gboom-logo.png' | asset_url }}"></h1>
                    <p class="sub">Ultimate Bluetooth Boombox</p>
                    <blockquote class="details"><span class="quote">&#8220;</span>Beast of a system. It is certainly the best $100 wireless speaker we’ve tested. Fully worthy of our rare flat A rating and high recommendation.<span class="quote">&#8221;</span><span class="source">-iLounge</span></blockquote>
                    <a class="btn" id="ecwZpYlwgwI">Watch</a>
                </div>

            </div><!--end holder-->

        </li><!--end slide 1-->


        <li style="background: url({{'ggrip-main-slide.jpg' | asset_url }}) center no-repeat; background-size: cover;">

            <div class="holder">

                <div>
                    <h1><img src="{{'ggrip-logo.png' | asset_url }}"></h1>
                    <p class="sub">Portable Wireless Speaker</p>
                    <blockquote class="details"><span class="quote">&#8220;</span>G-Grip is effectively the company's way of demonstrating just how aggressively it can undercut the Jambox on price without compromising on sound.<span class="quote">&#8221;</span><span class="source">-iLounge</span></blockquote>
                    <a class="btn watch" id="JPR3gzq4xm0">Watch</a>
                </div>

            </div><!--end holder-->

        </li><!--end slide 2-->


        <li style="background: url({{'ggo-main-slide.jpg' | asset_url }}) center no-repeat; background-size: cover;">

            <div class="holder">

                <div>
                    <h1><img src="{{'ggo-logo.png' | asset_url }}"></h1>
                    <p class="sub">Portable Wireless Speaker</p>
                    <blockquote class="details"><span class="quote">&#8220;</span>This is my new favorite summer gadget.<span class="quote">&#8221;</span><span class="source">-Yahoo! News</span></blockquote>
                    <a class="btn watch" id="pXTzRpix2Z4">Watch</a>
                </div>

            </div><!--end holder-->

        </li><!--end slide 3-->


        <li style="background: url({{'gpop-main-slide.jpg' | asset_url }}) center no-repeat; background-size: cover;">

            <div class="holder">

                <div>
                    <h1><img src="{{'gpop-logo.png' | asset_url }}"></h1>
                    <p class="sub">Portable Wireless Speaker</p>
                    <blockquote class="details"><span class="quote">&#8220;</span>Attractively designed, benefitting from resilient enclosures and other neat design features that will endear them to certain users... Handsome-looking and strong-feeling<span class="quote">&#8221;</span><span class="source">-iLounge</span></blockquote>
                    <a class="btn watch" href="../products/g-pop">Learn</a>
                </div>

            </div><!--end holder-->

        </li><!--end slide 4-->


        <li style="background: url({{'gzip-main-slide.jpg' | asset_url }}) center no-repeat; background-size: cover;">

            <div class="holder">

                <div>
                    <h1><img src="{{'gzip-logo.png' | asset_url }}"></h1>
                    <p class="sub">Portable Wireless Speaker</p>
                    <blockquote class="details"><span class="quote">&#8220;</span>...they’ve been designed to feel all but bulletproof... loud enough to serve as a powerful little standalone speaker<span class="quote">&#8221;</span><span class="source">-iLounge</span></blockquote>
                    <a class="btn watch" id="KmlG7Hqyogg">Watch</a>
                </div>

            </div><!--end holder-->

        </li><!--end slide 5-->

    </ul>

    <div id="controls"></div>

</div><!--end masthead-->