<!-- <div id="masthead">
    <div class="slider">
        {% for product in collections.speakers.products %}
            <div class="{{product.handle}}"><h1>{{ product.title }}</h1></div>
        {% endfor %}
    </div>
</div> -->

<div id="masthead">
    <div class="slider slider-main">
        {% for product in collections.speakers.products %}
            {% for image in product.images %}
                {% if image.alt contains 'masthead' %}
                    <div class="{{product.handle}}" style="background-image: url('{{ image | product_img_url: 'master' }}')"></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <div id="slider-nav-holder">
        <div class="slider slider-nav">
            {% for product in collections.speakers.products %}
                <div class="{{product.handle}}"><h1>{{ product.title }}</h1></div>
            {% endfor %}
        </div>
    </div>
</div>
