<!-- <div id="masthead">
    <div class="slider slider-main">

        {% for product in collections.speakers.products %}
            {% if settings.use_masthead_bg %}
                <div class="masthead_copy">
                    <img src="{{ 'masthead_bg.png' | asset_url }})">
                </div>
            {% endif %}
            {% for image in product.images %}
                {% if image.alt contains 'masthead' %}
                    <div class="{{product.handle}}" style="background-image: url('{{ image | product_img_url: 'master' }}')"></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <div id="slider-nav-holder">
        <div class="slider slider-nav">
            {% if settings.use_masthead_copy %}
                <div class="masthead_copy">
                    <div><h1>{{ settings.masthead_copy }}</h1></div>
                </div>
            {% endif %}

            {% for product in collections.speakers.products %}
                <div class="{{product.handle}} product-info">
                    <div>
                        <h1>{{ product.title }}</h1>
                        <p>{{ product.description }}</p>
                        <a href="#" class="btn">Reviews</a>
                        <a href="#" class="btn">Video</a>
                        <a href="#" class="btn">Photos</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div> -->

<div id="masthead">
    <div class="slider slider-main">
        {% for product in collections.speakers.products %}
        <div class="{{product.handle}} product-info">
            <div>
                <h1>{{ product.title }}</h1>
                <p>{{ product.description }}</p>
                <a href="#" class="btn">Reviews</a>
                <a href="#" class="btn">Video</a>
                <a href="#" class="btn">Photos</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
